
/*
     FILE ARCHIVED ON 08:45:49 Nov 11, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:22:06 Oct 18, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.512
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 811.796
  LoadShardBlock: 290.957 (3)
  PetaboxLoader3.datanode: 399.297 (4)
  load_resource: 308.474
  PetaboxLoader3.resolve: 160.462
*/